<div class="grid grid-cols-12 gap-4">
    <div class="col-span-5">
        <p class="title text-5xl">Filipe</p>
        <p class="title text-5xl">Bravo</p>
        <p class="title text-[#808080] text-sm">Junior Fullstack Developer</p>
    </div>
    <div class="col-span-7">
        <div class="text-[11px] inline-flex items-center gap-2">
            <div class="items-center bg-[#3B3B3B] rounded-full w-6 h-6 flex items-center justify-center mb-1">
                <mat-icon class="text-[#F2F2F2] text-sm">location_on</mat-icon>
            </div>
            Alverca do Ribatejo, Lisboa – 2615-163
        </div>
        <hr class="ml-7 border-[#808080]" />
        <div class="text-[11px] inline-flex items-center gap-2">
            <div class="items-center bg-[#3B3B3B] rounded-full w-6 h-6 flex items-center justify-center mb-1">
                <mat-icon class="text-[#F2F2F2] text-sm">call</mat-icon>
            </div>
            +351 918 949 023
        </div>
        <hr class="ml-7 border-[#808080]" />
        <div class="text-[11px] inline-flex items-center gap-2">
           <div class="items-center bg-[#3B3B3B] rounded-full w-6 h-6 flex items-center justify-center mb-1">
                <mat-icon class="text-[#F2F2F2] text-sm">mail</mat-icon>
            </div>
           pippo.a.bravo&#64;gmail.com
        </div>
    </div>
</div>

<div class="pt-6">
   <p class="title">{{"workExperience" | translate}}</p> 
   <hr class="border-[#3B3B3B]" />
   <ul class="pt-6">
    <app-experience-item firmName="Altyra Solutions" location="lisbon" dates="altyraDates" role="developer" details="altyraDetails"></app-experience-item>
    <app-experience-item firmName="OCR - Techology and Productivity" location="lisbon" dates="ocrDates" role="developer" details="ocrDetails"></app-experience-item>
   </ul>
</div>

<div class="pt-4">
   <p class="title">{{"education" | translate}}</p> 
   <hr class="border-[#3B3B3B]" />
   <ul class="pt-6">
    <app-experience-item firmName="ISTEC" location="lisbon" dates="istecDates" role="ddm" details="istecDetails"></app-experience-item>
    <app-experience-item firmName="ESGC" location="lisbon" dates="esgcDates" role="esgcCourse" details="esgcDetails"></app-experience-item>
   </ul>
</div>
<div class="pt-4">
   <p class="title">{{"skills" | translate}}</p> 
   <hr class="border-[#3B3B3B]" />
   <div class="grid grid-cols-3 pt-4 gap-3">
    <app-skill-item skillName="Angular" level="100"></app-skill-item>
    <app-skill-item skillName="React" level="80"></app-skill-item>
    <app-skill-item skillName="Typescript" level="100"></app-skill-item>
    <app-skill-item skillName="HTML5/CSS3" level="100"></app-skill-item>
    <app-skill-item skillName="Python" level="80"></app-skill-item>
    <app-skill-item skillName="SQL" level="100"></app-skill-item>
   </div>
</div>