<div class="pr-4 pb-4">
    <div class="flex justify-center">
        <img src="pfp.jpg" class="rounded-full aspect-square object-cover w-2/3" />
    </div>
    <p class="title py-4">{{"aboutme" | translate}}</p>
    <p class="text-[11px]">{{"aboutme-info" | translate}}</p>
</div>
<hr />
<div class="pr-4 pb-4">
    <p class="title py-4">Links</p>
    <p class="font-bold text-[11px]">LinkedIn:</p>
    <p class="text-[11px] underline">https://www.linkedin.com/in/filipe-bravo</p>
    <div class="pt-4">
        <p class="font-bold text-[11px]">GitHub:</p>   
        <p class="text-[11px] underline">https://github.com/FypeiH</p>
    </div>
</div>
<hr />
<div class="pr-4 pb-4">
    <p class="title py-4">{{"references" | translate}}</p>
    <p class="text-xs uppercase">Pedro Alves</p>
    <p class="text-[11px]">Altyra Solutions</p>
    <p class="text-[11px]">
        <span class="font-bold">T: </span>
        <span>+351 917 111 329</span>
    </p>
    <p class="text-[11px]">
        <span class="font-bold">E: </span>
        <span>palves&#64;altyra.com</span>
    </p>
</div>
<hr />
<!-- <div class="pr-4 pb-4">
    <p class="title py-4">{{"hobbies" | translate}}</p>
    <ul class="text-[11px] list-disc list-inside">
        <li>{{"coding" | translate}}</li>
        <li>{{"gym" | translate}}</li>
        <li>{{"football" | translate}}</li>
        <li>{{"videogames" | translate}}</li>
        <li>{{"reading" | translate}}</li>
    </ul>
</div> -->
<div class="pr-4 pb-4">
    <p class="title py-4">{{"languages" | translate}}</p>
    <p class="text-xs">{{"portuguese" | translate}}</p>
    <div class="w-[100px] h-1 rounded-full bg-[#696969]">
        <div class="bg-[#F2F2F2] h-full rounded-full w-full"></div>
    </div>
    <p class="text-xs pt-4">{{"english" | translate}}</p>
    <div class="w-[100px] h-1 rounded-full bg-[#696969]">
        <div class="bg-[#F2F2F2] h-full rounded-full w-[90%]"></div>
    </div>
    <p class="text-xs pt-4">{{"spanish" | translate}}</p>
    <div class="w-[100px] h-1 rounded-full bg-[#696969]">
        <div class="bg-[#F2F2F2] h-full rounded-full w-[40%]"></div>
    </div>
</div>