<label class="flex items-center justify-center gap-3 mb-6">
  <span class="fi fi-pt" [ngClass]="{'invisible' : languageControl.value}"></span>
  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" value="" [formControl]="languageControl" class="sr-only peer" 
      (change)="onLanguageChange()" />
    <div class="w-9 h-5 bg-[#DA291C] hover:bg-red-700 peer-focus:outline-0 peer-focus:ring-transparent rounded-full peer transition-all ease-in-out duration-500 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-[#0A3161] hover:peer-checked:bg-[#071F3D]"></div>
  </label>
  <span class="fi fi-us" [ngClass]="{'invisible' : !languageControl.value}"></span>
</label>


<div class="paper bg-white">
  <div class="grid grid-cols-4 h-full">
    <div class="bg-amber-200 p-4">
      <app-personal-info></app-personal-info>
    </div>
    <div class="bg-red-200 col-span-3 p-4">
      <app-professional-info></app-professional-info>
    </div>
  </div>
</div>